html {
    font-size: 10px;
}

body {
    @extend %font-primary;
    background-color: $color-background-body;
    color: $color-text-darK;
}

h1 {
    @include font($size: 7.2rem, $height: 105%, $weight: 600);
}

h2 {
    @include font($size: 6rem, $height: 125%, $weight: 600);
}

h4 {
    @include font($size: 2.4rem, $height: 125%, $weight: 600);
}