.app__wrapper {
    margin-top: 100px;
}

.app__container {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-1100px {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include media-tablet-width {
        gap: 100px;
    }
    @include media-tablet-content-width {
        gap: 40px;
    }
}

.app__info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 630px;
    margin-top: 144px;
    @include media-container {
        margin-top: 5%;
    }
    @include media-tablet-width {
        margin-top: 0;
        max-width: 100%;
    }
}

.app__text {
    @include font($size: 1.6rem, $height: 150%, $weight: 400);
}

.app__links {
    display: flex;
    gap: 20px;
    @include media-mobile-width {
        flex-wrap: wrap;
    }
}

.app__source {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    width: 200px;
    height: 64px;
    border: 1px solid $color-background-container;
    border-radius: 100px;
    text-decoration: none;
    color: $color-text-darK;
    @extend %transition;
    &:hover {
        background-color: $color-background-container;
        .source__info {
            color: $color-text-light;
        }
        .source__object {
            filter: brightness(0) saturate(100%) invert(90%) sepia(5%) saturate(612%) hue-rotate(350deg) brightness(98%) contrast(88%);
        }
    }
}

.source__text {
    @include font($size: 1rem, $height: 140%, $weight: 600);
}

.source__name {
    @include font($size: 1.6rem, $height: 150%, $weight: 600);
}

.source__object {
    margin-left: 20px;
}

.app__image {
    width: 100%;
    height: auto;
}