.header {

    &__container {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 100px 1fr 72px;
        @include media-tablet-width {
            justify-items: end;
            align-items: center;


        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        & > button > img {
            margin-bottom: -3px;
        }
        @include media-tablet-width {
            display: none;
        }
    }

    //@include media-tablet-width {
    //    position: fixed;
    //    top: 0;
    //    z-index: 999;
    //    background-color: $color-background-body;
    //    overflow: hidden;
    //    width: 100%;
    //    height: 100vh;
    //}
}

.navigation {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    column-gap: 40px;
    justify-content: center;
    @include font($size: 1.6rem, $height: 200%, $weight: 600);

    &__link {
        color: $color-text-darK;
        text-decoration: none;
    }

    @include media-tablet-width {

        display: none;

        //position: absolute;
        //top: 81px;
        //left: 0;
        //
        //padding-top: 30px;
        //width: 100%;
        //grid-template-columns: 1fr;
        //justify-items: center;
        //row-gap: 40px;
        //align-content: start;

    }
}

.navigation__scroll {
    @include media-tablet-width {

        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 40px;
        align-content: start;
    }
}

.burger {
    display: none;
    @include media-tablet-width {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 8px;
        width: 44px;
        height: 44px;
        border: 1px solid $color-background-container;
        border-radius: 100%;
        & > span {
            display: block;
            width: 18px;
            height: 2px;
            background-color: $color-text-darK;
            border-radius: 5px;
            transition: all 0.3s ease-out;

        }
        &:first-child {
            background-color: $color-text-light;
        }
    }
}

//.burger-line {
//    transform-origin: left top;
//}